@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #050009;
    color: aliceblue;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #2c094b;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(62, 17, 103);
}
